<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
 xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity"> 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>
    <title>Creación de empleado</title>
</head>
<body>
    <h1>Creación de empleado</h1>
    <form method="post" action="#" th:action="@{/add/submit}" th:object="${empForm}">
    <table class="table">
        <tr>
            <td>Nombre</td>
            <td><input type="text" th:field="*{nombre}" required></td>
        </tr>
        <tr>
            <td>Correo</td>
            <td><input type="email"  th:field="*{correo}" required></td>
        </tr>
        <tr> 
            <td>Salario</td>
            <td><input type="number"  th:field="*{salario}" min="0" value="1"></td>
        </tr>
        <tr>
            <td>Estado</td>
            <td><select  th:field="*{estado}">
                <option th:each="opt : ${T(com.tarea8.dgmt08e01.Modelos.Estado).values()}" th:value="${opt}" th:text="${opt}"></option>
            </select></td>
        </tr>
        <tr>
            <td>Genero</td>
            <td><select  th:field="*{genero}">
                <option th:each="opt : ${T(com.tarea8.dgmt08e01.Modelos.Genero).values()}" th:value="${opt}" th:text="${opt}"></option>
            </select></td>
        </tr>
    </table>
    <input type="submit" class="btn btn-primary btn-block" value="Agregar"> <a class="btn btn-primary btn-block" th:href="@{/}">Volver</a>
    </form>
    <div th:if="${error!=null}">
        <p class="alert alert-danger" th:text="${error}"></p>
    </div>
</body>
</html>