<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Autentificación</title>
</head>

<body>
    <h2>Introduce tus credenciales:</h2>
    <div th:if="${param.error}">Credenciales incorrectas</div>
    <div th:if="${param.logout}">Te has desconectado</div>
    <form th:action="@{/login}" method="post">
        <input type="text" name="username" placeholder="Username" /><br />
        <input type="password" name="password" placeholder="Password" /><br />
        <input type="submit" value="Log in" />
    </form>
</body>

</html>