<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>
    <title>Modificación de cuenta</title>
</head>

<body>

    <h1>Modificación de cuenta</h1>
    <form method="post" action="#" th:action="@{/edit/submit}" th:object="${cuentaForm}">
        <table class="table">
            <tr>
                <td>IBAN</td>
                <td><input type="text" th:field="*{IBAN}"readonly id="disabledInput" required></td>
            </tr>
            <tr>
                <td>Alias</td>
                <td><input type="text" th:field="*{alias}" required></td>
            </tr>
            <tr>
                <td>Saldo</td>
                <td><input type="text" th:field="*{saldo}" required></td>
            </tr>
        </table>
        <input type="submit" class="btn btn-primary btn-block" value="Confirmar">
        <a class="btn btn-primary btn-block" th:href="@{/}">Volver</a>
    </form>
    <div th:if="${error!=null}">
        <p class="alert alert-danger" th:text="${error}"></p>
    </div>
</body>
</html>